[submodule "makefiles"]
	path = makefiles
	url = https://github.com/dbosk/makefiles.git
	branch = master
[submodule "libbib"]
	path = bibsp
	url = https://github.com/dbosk/bibsp.git
	branch = master
[submodule "cryptoproofs"]
	path = cryptoproofs
	url = https://github.com/OpenSecEd/cryptoproofs.git
	branch = master
[submodule "beamer-didactic"]
	path = beamer-didactic
	url = https://github.com/dbosk/beamer-didactic.git
[submodule "protocols"]
	path = protocols
	url = https://github.com/OpenSecEd/protocols.git
[submodule "didactic"]
	path = didactic
	url = https://github.com/dbosk/didactic.git
[submodule "labs/forcing"]
	path = labs/forcing
	url = git@github.com:OpenSecEd/forcing.git
