[submodule "makefiles"]
	path = makefiles
	url = https://github.com/dbosk/makefiles.git
	branch = master
[submodule "libbib"]
	path = bibsp
	url = https://github.com/dbosk/bibsp.git
	branch = master
[submodule "cryptoproofs"]
	path = cryptoproofs
	url = https://github.com/OpenSecEd/cryptoproofs.git
	branch = master
